.pooja_main_div {
  margin: 1rem 0;
}
.products_pooja {
  display: flex;
  gap: 2rem;
}
.saman {
  height: 200px;
  width: 200px;
}
.add_to_cart_btn {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.aclass {
  font-size: 30px;
}
.bclass {
  color: rgb(3, 250, 106);
}
