<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festive-All</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/static/bonfire.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/32af3d915c.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="header">
        <a href="#"><img src="/static/bonfire.png" class="logo" style="height: 50px" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about" class="active">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li id="lg-bag">
                    <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>


    <div id="page-header" class="about-header">
        <h2 class="ab">Know More</h2>
        <p class="ab">"About me"</p>
    </div>
    </div>
    <section id="about-head" class="">
        <img src="/static/img/download.png" alt="">
        <div>
            <h2>About Me</h2>
            <p>



                Welcome to Festive-all, your one-stop destination for all things related to festivals in Nepal. We are
                passionate about celebrating the rich cultural heritage of Nepal through our curated collection of
                festival products and accessories.
                <br>
                <br>
                At Festive-all, we understand the significance of festivals in Nepali culture. Festivals are not just
                events; they are a way of life, a time for joy, family gatherings, and spiritual reflection. That's why
                we bring you a diverse range of festival essentials that help you make every festival memorable and
                meaningful.
                <br>
                <br>
                Our mission is to make the festival experience more enjoyable and accessible for everyone. Whether
                you're looking for traditional attire, puja items, home decorations, or festive gifts, we've got you
                covered. Our team is dedicated to sourcing the finest products and ensuring they meet the highest
                quality standards.
                <br>
                <br>
                As a proud supporter of Nepal's cultural heritage, we also collaborate with local artisans and craftsmen
                to promote their creations. By shopping with us, you're not only enhancing your festival experience but
                also contributing to the livelihoods of talented individuals.
                <br>
                <br>
                Thank you for choosing Festive-all as your festival shopping destination. We look forward to being a
                part of your joyous celebrations and helping you create lasting memories with your loved ones.
                <br>
                <br>
                Join in embracing the colors, traditions, and spirit of Nepal's festivals. Explore our wide range of
                festival products and let the festivities begin!
                <br>
                <br>
            <h3>Why Choose Us?</h3>


            <h3>
                Authenticity:
            </h3>We take pride in offering genuine festival products that capture the essence of Nepali traditions.

            <h3>
                Quality Assurance:
            </h3>

            Our products are carefully selected and inspected to ensure the highest quality.

            <h3>Supporting Local Artisans:</h3> We collaborate with local artisans and craftsmen to promote their work
            and preserve Nepal's cultural heritage.

            <h3>Convenience:</h3>Enjoy a hassle-free shopping experience with secure payment options and timely
            delivery.

            <h3>Customer Satisfaction:</h3> Your satisfaction is our priority. If you have any questions or concerns,
            our dedicated customer support team is here to assist you.

            Festive-all is more than just an online store; it's a celebration of Nepal's rich festival culture. We
            invite you to browse our collections, discover unique festival treasures, and make every celebration
            unforgettable.

            Thank you for being a part of our festival-loving community. We look forward to serving you and being a part
            of your festive journey.

            Celebrate with joy, celebrate with Festive-all!


            </p>
            <abbr title="">
                <h3>Thanks for visiting</h3>
            </abbr>
            <br>
            <marquee bgcolor="#c4bcb3" loop="-1" width="30%"><i class="fa-solid fa-envelope"></i> sachitgh2@gmail.com
            </marquee>
        </div>

    </section>

    <!-- <section id="newsletter" class="section-p1">
        <div class="newstext">
          <h4>Get Notified</h4>
          <p>
            Get E-mail updates about our latest and <span>Special offers</span>
          </p>
        </div>
        <div class="form">
        <form action="https://formsubmit.co/el/mutahe" method="POST">

            <input type="text" placeholder="Name" name="" id="">
            <input type="email" placeholder="Your Email Address" name="" id="" autocomplete="off"/>
            <button class="normal">Sign UP</button>
            ></form>
        </div>
      </section> -->

    <footer class="section-p1">
        <div class="col">
            <img src="/static/img/bonfire.png" height="60px" alt="" />
            <h4>Contact</h4>
            <p><strong>Address: </strong>Shiphal,Kathmandu,Nepal</p>
            <p><strong>Phone: </strong>+977 9803058344</p>
            <p><strong>Hours: </strong>9:00 19:00 Sun - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-viber"></i>
                </div>
            </div>
        </div>
        {% comment %} <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Payment Gateways</h4>
            <p>secured Payment option</p>
            <img src="/static/esewa_logo.png" height="20px" width="60px" alt="" />
            <img src="/static/khalti-logo.svg" height="20px" width="60px" alt="" />
        </div> {% endcomment %}
        <div class="copyright">
            <p>&copy;2023 , Sachit Ghimire - Festive-All</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>



</html>