<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festive-All</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/static/bonfire.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/32af3d915c.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="header">
        <a href="#"><img src="/static/bonfire.png" class="logo" style="height: 50px" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about" class="active">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li id="lg-bag">
                    <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>


    <div id="page-header" class="about-header">
        <h2 class="ab">Know More</h2>
        <p class="ab">"About me"</p>
    </div>
    </div>
    <section id="about-head" class="">
        <img src="/static/img/download.png" alt="">
        <div>
            <h2>About Me</h2>
            <p>As a "last-year student," I am now approaching the culmination of my academic program. This means I'm taking advanced courses that delve deeper into my field of study, often with a focus on specialized areas or research projects. The coursework is more demanding, but it's also an opportunity to dive into topics I'm truly passionate about.

                One of the most exciting aspects of being a "last-year student" is the impending graduation. The thought of finally donning the cap and gown, walking across the stage, and receiving a diploma is both thrilling and a testament to years of hard work and dedication</p>
            <abbr title="">Want create stunning Website like this?</abbr>
<br>
<marquee bgcolor="#c4bcb3" loop="-1" width="100%"><i class="fa-solid fa-envelope"></i> sachitgh2@gmail.com <i class="fa-solid fa-phone"></i> 9803058344 </marquee>
        </div>

    </section>

    <!-- <section id="newsletter" class="section-p1">
        <div class="newstext">
          <h4>Get Notified</h4>
          <p>
            Get E-mail updates about our latest and <span>Special offers</span>
          </p>
        </div>
        <div class="form">
        <form action="https://formsubmit.co/el/mutahe" method="POST">

            <input type="text" placeholder="Name" name="" id="">
            <input type="email" placeholder="Your Email Address" name="" id="" autocomplete="off"/>
            <button class="normal">Sign UP</button>
            ></form>
        </div>
      </section> -->

    <footer class="section-p1">
        <div class="col">
            <img src="/static/img/bonfire.png" height="60px" alt="" />
            <h4>Contact</h4>
            <p><strong>Address: </strong>Shiphal,Kathmandu,Nepal</p>
            <p><strong>Phone: </strong>+977 9803058344</p>
            <p><strong>Hours: </strong>9:00 19:00 Sun - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-viber"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Payment Gateways</h4>
            <p>secured Payment option</p>
            <img src="/static/esewa_logo.png" height="20px" width="60px" alt="" />
            <img src="/static/khalti-logo.svg" height="20px" width="60px" alt="" />
        </div>
        <div class="copyright">
            <p>&copy;2023 , Sachit Ghimire - Festive-All</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>



</html>