<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festive-All</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/bonfire.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/32af3d915c.js" crossorigin="anonymous"></script>
</head>

<body>
    <section id="header">
        <a href="#"><img src="/bonfire.png" class="logo" style="height: 50px" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about" >About</a></li>
                <li><a href="contact" class="active">Contact</a></li>
                <li id="lg-bag">
                    <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>


    <div id="page-header" class="about-header">
        <h2 class="ab">Let's Talk</h2>
        <p class="ab">"Call Us"</p>
    </div>
    </div>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>Get in Touch</span>
            <h2>Our Location</h2>
            <div>
                <li>
                    <i class="fa fa-map"> </i>
                    <p>Shiphal,Kathmandu,Nepal</p>
                </li>
                <li>
                    <i class="far fa-envelope"> </i>
                    <p>sachitgh2@gmail.com</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>9803058344</p>   
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <p>Sun - Sat: 9:00am to 19:00pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.1206309272534!2d85.34248389999999!3d27.713561500000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19711fc67af3%3A0x4ec22ef7b705ac5!2sTexas%20College%20of%20Management%20%26%20IT!5e0!3m2!1sen!2snp!4v1693055247592!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    {% comment %} <section id="newsletter" class="section-p1">
        <div class="newstext">
          <h4>Get Notified</h4>
          <p>
            Get E-mail updates about our latest and <span>Special offers</span>
          </p>
        </div>
        <div class="form">
          <input type="text" placeholder="Your Email Address" name="" id="" />
          <button class="normal">Sign UP</button>
        </div>
      </section> {% endcomment %}

    <footer class="section-p1">
        <div class="col">
            <img src="/static/bonfire.png" height="60px" alt="" />
            <h4>Contact</h4>
            <p><strong>Address: </strong>Shiphal,Kathmandu,Nepal</p>
            <p><strong>Phone: </strong>+977 9803058344</p>
            <p><strong>Hours: </strong>9:00 19:00 Sun - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook">  <a href="https://www.facebook.com/saroj.ghimire.98478672">Festive-all</a> </i>
                    <i class="fab fa-whatsapp"> 9803058344</i>
                    <i class="fab fa-viber"> 9803058344</i>
                </div>
            </div>
        </div>
        {% comment %} <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Payment Gateways</h4>
            <p>secured Payment option</p>
            <img src="/static/img/esewa_logo.png" height="20px" width="60px" alt="" />
            <img src="/static/img/khalti-logo.svg" height="20px" width="60px" alt="" />
        </div> {% endcomment %}
        <div class="copyright">
            <p>&copy;2023 , Sachit Ghimire - Festive-All</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>