

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festive-All</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/0-02-03-bd0c2f7e2ecc85e273008317943094a93697b37cf822b6ebae6987375bbe15d3_4f1c9f08e926aa84.png" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/32af3d915c.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="/static/img/0-02-03-bd0c2f7e2ecc85e273008317943094a93697b37cf822b6ebae6987375bbe15d3_4f1c9f08e926aa84.png" class="logo" style="height: 50px" alt=""
      /></a>

      <div>
        <ul id="navbar">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li id="lg-bag">
            <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <div class="hero-pic">
      <div class="right-image">
        <img src="/static/img/wedding-used.webp" height="400px" alt="" />
      </div>
      <div id="hero">
        <h4 class="ab">"Festive Fun for Everyone."</h4>
        <h2 class="ab">All Festival related</h2>
        <h1 class="ab">Products in one place</h1>
        <p class="ab">"Embrace Festive Cheer With Us."</p>
        <button>Shop Now</button>
      </div>
    </div>

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="/static/img/f1.png" alt="" />
        <h6>Online Order</h6>
      </div>
      <div class="fe-box">
        <img src="/static/img/f3.png" alt="" />
        <h6>Save Money</h6>
      </div>
      <div class="fe-box">
        <img src="/static/img/f4.png" alt="" />
        <h6>Get Gifts</h6>
      </div>

      <div class="fe-box">
        <img src="/static/img/f6.png" alt="" />
        <h6>24/7 Customer Care</h6>
      </div>

      <div class="fe-box">
        <img src="/static/img/f5.png" alt="" />
        <h6>Grow Together</h6>
      </div>
    </section>

    {% comment %} <section id="product1" class="section-p1">
      <h2>Our Products</h2>
      <p>Festive Collection</p>
      <div class="pro-container">
        <div class="pro">
          <img src="/static/dashain-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Dashain Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/tihar-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Tihar Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/holi-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Holi Collection</h5>
            <h4>Rs.1000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/wedding-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Wedding Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/rakxya-bandan-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Janai Purnima/Rakxya Bandan</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/name-giving-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Naming Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/teej-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hari-Talika Teej</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/hom-puja-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hom Puja</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/rice-feeding-used.png" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Rice Feeding Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="pro">
          <img src="/static/bratabandha.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Bratabandha Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="pro">
          <img src="/static/shradhha-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Shradhha Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/krishnajanmasthami-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Krishna Janma Asthami</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/images (2).jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Chhath puja</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/laxmi-puja-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Laxmi Puja Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </section> {% endcomment %}

    <section id="banner" class="section-m1">
      <h4>Dashain Aayo Khaula Piula</h4>
      <h2>Up to <span>20% Off</span> on all Collections</h2>
      <button class="normal">Buy Now</button>
    </section>

    {% comment %} <section id="product1" class="section-p1">
      <h2>Our Available</h2>
      <p>Puja Product Collection</p>
      <div class="pro-container">
        <div class="pro">
          <img src="/static/img/dashain-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Dashain Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/tihar-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Tihar Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/holi-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Holi Collection</h5>
            <h4>Rs.1000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/wedding-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Wedding Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/rakxya-bandan-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Janai Purnima/Rakxya Bandan</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/name-giving-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Naming Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/teej-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hari-Talika Teej</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/hom-puja-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hom Puja</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/rice-feeding-used.png" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Rice Feeding Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="pro">
          <img src="static/img/bratabandha.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Bratabandha Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="pro">
          <img src="static/img/shradhha-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Shradhha Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/krishnajanmasthami-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Krishna Janma Asthami</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="static/img/images (2).jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Chhath puja</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/static/img/laxmi-puja-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Laxmi Puja Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </section> {% endcomment %}
    <section id="sm-banner" class="section-p1">
      <div class="banner-box">
        <h4>This Tihar</h4>
        <h2>Buy 1 get 1</h2>
        <span>The best festive products are on sale at Festive-All</span>
        <button class="white">Learn More</button>
      </div>
      <div class="banner-box banner-box2">
        <h4>This Festive Season</h4>
        <h2>Buy 1 get 1</h2>
        <span>The best festive products are on sale at Festive-All</span>
        <button class="white">Learn More</button>
      </div>
    </section>
    <section id="banner3">
      <div class="banner-box">
        <h2>Dashain Blog</h2>
        <h3>Dashain is the . . . . . .</h3>
      </div>
      <div class="banner-box banner-box2">
        <h2>Tihar Blog</h2>
        <h3>Tihar is the . . . . . .</h3>
      </div>
      <div class="banner-box banner-box3">
        
        <h2>Holi Blog</h2>
        <h3>Holi is the . . . . . .</h3>
      </div>
    </section>
    {% comment %} <section id="newsletter" class="section-p1">
      <div class="newstext">
        <h4>Get Notified</h4>
        <p>
          Get E-mail updates about our latest and <span>Special offers</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your Email Address" name="" id="" />
        <button class="normal">Sign UP</button>
      </div>
    </section> {% endcomment %}
    <footer class="section-p1">
      <div class="col">
        <img src="/static/img/bonfire.png" height="60px" alt="" />
        <h4>Contact</h4>
        <p><strong>Address: </strong>Shiphal,Kathmandu,Nepal</p>
        <p><strong>Phone: </strong>+977 9803058344</p>
        <p><strong>Hours: </strong>9:00 19:00 Sun - Sat</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-viber"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="login">login</a>
        <a href="signup">Signup</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="col install">
        <h4>Payment Gateways</h4>
        <p>secured Payment option</p>
        <img src="/static/img/esewa_logo.png" height="20px" width="60px" alt="" />
        <img src="/static/img/khalti-logo.svg" height="20px" width="60px" alt="" />
      </div>
      <div class="copyright">
        <p>&copy;2023 , Sachit Ghimire - Festive-All</p>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
