<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/logus.css" />
    <script
      src="https://kit.fontawesome.com/32af3d915c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="log">
      <div class="form_container">
        <i class="fa-solid fa-xmark form_close"></i>
        <!-- login form -->
        <div class="form login_form">
          <form action="/login" method="post">
            {%csrf_token%}
            <h2>login</h2>
            <div class="input_box">
              <input
                type="email"
                name="email"
                {%
                comment
                %}
                value="{{email}}"
                {%
                endcomment
                %}
                id="email"
                placeholder="Enter your email"
                required
              />
              <i class="fa-regular fa-envelope email"></i>
            </div>

            <div class="input_box" required>
              <input
                type="password"
                name="password"
                id="password"
                value="{{password}}"
                placeholder="Enter your Password"
              />
              <i class="fa-solid fa-lock password"></i>
              <i class="fa-solid fa-eye-slash pw_hide"></i>
            </div>
            <div class="option_field">
              <span class="checkbox">
                <input type="checkbox" id="check" />
                <label for="check">Remember me</label>
              </span>
              <a href="#" class="forgot_pw">Forgot Password?</a>
            </div>
            <button class="button">Login Now</button>
            <div class="login_signup">
              Don't have an account? <a href="signup" id="signup">signup</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
