<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festive-All</title>
    <link rel="shortcut icon" href="/bonfire.png" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/32af3d915c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <section id="header">
      <a href="#"
        ><img src="/bonfire.png" class="logo" style="height: 50px" alt=""
      /></a>

      <div>
        <ul id="navbar">
          <li><a href="index">Home</a></li>
          <li><a href="shop" class="active">Shop</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li id="lg-bag">
            <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="/static/img/bratabandha.jpg" width="100%" id="MainImg" alt="" />

        <div class="small-img-group">
          <div class="small-img-col">
            <img
              src="/static/img/20211014080129_20210927121504_dashain-2016.jpg"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
          <div class="small-img-col">
            <img
              src="/static/img/bamboo-swing-dashain.jpg"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
          <div class="small-img-col">
            <img
              src="/static/img/download (2).png"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
          <div class="small-img-col">
            <img
              src="/static/img/download (1).png"
              width="100%"
              class="small-img"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="single-pro-details">
        <h6>Product related to:</h6>
        <h4>Dashain Festival</h4>
        <h2>Rs.5000</h2>
        <select>
          <option>Select Size</option>
          <option>Single Family</option>
          <option>Joined Family</option>
        </select>
        <input type="number" value="1" />
        <button class="normal">Add to Cart</button>
        <h4>Product Details</h4>
        <span
          >The mentioned products are all from the local vendors promoting local
          level business.</span
        >
      </div>
    </section>

    <!-- <section id="product1" class="section-p1">
      <h2>Our Available</h2>
      <p>Puja Product Collection</p>
      <div class="pro-container">
        <div class="pro">
          <img src="/dashain-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Dashain Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/tihar-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Tihar Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/holi-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Holi Collection</h5>
            <h4>Rs.1000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/wedding-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Wedding Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/rakxya-bandan-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Janai Purnima/Rakxya Bandan</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/name-giving-used.webp" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Naming Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/teej-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hari-Talika Teej</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/hom-puja-used.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Hom Puja</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
          <img src="/rice-feeding-used.png" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Rice Feeding Ceremony</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="pro">
          <img src="/bratabandha.jpg" alt="" />
          <div class="des">
            <span>Festive-All</span>
            <h5>Bratabandha Collections</h5>
            <h4>Rs.5000</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    </section> -->

    <!-- {% comment %} <section id="newsletter" class="section-p1">
      <div class="newstext">
        <h4>Get Notified</h4>
        <p>
          Get E-mail updates about our latest and <span>Special offers</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your Email Address" name="" id="" />
        <button class="normal">Sign UP</button>
      </div>
    </section> {% endcomment %} -->
    <footer class="section-p1">
      <div class="col">
        <img src="/bonfire.png" height="60px" alt="" />
        <h4>Contact</h4>
        <p><strong>Address: </strong>Shiphal,Kathmandu,Nepal</p>
        <p><strong>Phone: </strong>+977 9803058344</p>
        <p><strong>Hours: </strong>9:00 19:00 Sun - Sat</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-viber"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="col install">
        <h4>Payment Gateways</h4>
        <p>secured Payment option</p>
        <img src="/esewa_logo.png" height="20px" width="60px" alt="" />
        <img src="/khalti-logo.svg" height="20px" width="60px" alt="" />
      </div>
      <div class="copyright">
        <p>&copy;2023 , Sachit Ghimire - Festive-All</p>
      </div>
    </footer>

    <script>
      var MainImg = document.getElementById("MainImg");
      var smallimg = document.getElementsByClassName("small-img");

      smallimg[0].onclick = function () {
        MainImg.src = smallimg[0].src;
      };
      smallimg[1].onclick = function () {
        MainImg.src = smallimg[1].src;
      };
      smallimg[2].onclick = function () {
        MainImg.src = smallimg[2].src;
      };
      smallimg[3].onclick = function () {
        MainImg.src = smallimg[3].src;
      };
    </script>

    <script src="script.js"></script>
  </body>
</html>
